@media (min-width: 1024px) and (max-width: 1600px) {

	.header {
		background-color: #ffffff00;
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(17px);



		color: #424242;
		display: flex;
		flex-wrap: nowrap;
		font-family: Inter, sans-serif;
		font-weight: 400;

		justify-content: space-between;
		left: 0;
		margin: 0;
		max-height: 70px;
		min-height: 50px;
		opacity: 1;
		padding: 16px 0;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 200;
		align-items: center;
	}

	.company {
		margin-left: 22px;
		font-size: 18px;
	}

	.company::first-letter {
		text-transform: uppercase;
	}

	.navigate {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		align-items: center;

		.buttons {
			display: flex;

			.button {
				font-size: 19px;
				display: flex;
				margin-right: 12px;
			}
		}
	}




	.right {
		display: flex;
		align-items: center;
		margin-right: 20px;

		.user {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #c909c6;
			display: flex;
			justify-content: center;
			justify-items: center;
			align-items: center;
			margin-right: 20px;

			>.user-icon {
				display: flex;
			}

			>.user-letter {
				display: none;
			}

			&.auth {

				.user-icon {
					display: none;
				}

				.user-letter {
					display: flex;
				}
			}
		}

	}




}


@media (min-width: 768px) and (max-width: 1023px) {
	.header {
		background-color: #ffffff00;
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(17px);



		color: #424242;
		display: flex;
		flex-wrap: nowrap;
		font-family: Inter, sans-serif;
		font-weight: 400;

		justify-content: space-between;
		left: 0;
		margin: 0;
		max-height: 70px;
		min-height: 50px;
		opacity: 1;
		padding: 16px 0;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 200;
		align-items: center;
	}

	.company {
		margin-left: 22px;
		font-size: 18px;
	}

	.company::first-letter {
		text-transform: uppercase;
	}

	.navigate {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		align-items: center;

		.buttons {
			display: flex;

			.button {
				font-size: 19px;
				display: flex;
				margin-right: 12px;
			}
		}
	}




	.right {
		display: flex;
		align-items: center;
		margin-right: 20px;

		.user {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #c909c6;
			display: flex;
			justify-content: center;
			justify-items: center;
			align-items: center;
			margin-right: 20px;

			>.user-icon {
				display: flex;
			}

			>.user-letter {
				display: none;
			}

			&.auth {

				.user-icon {
					display: none;
				}

				.user-letter {
					display: flex;
				}
			}
		}

	}
}

@media (max-width: 767px) {
	.header {
		background-color: #ffffff00;
		-webkit-backdrop-filter: blur(12px);
		backdrop-filter: blur(17px);
		background-color: #ffffff49;



		color: #424242;
		display: flex;
		flex-wrap: nowrap;
		font-family: Inter, sans-serif;
		font-weight: 400;

		justify-content: space-between;
		left: 0;
		margin: 0;
		max-height: 70px;
		min-height: 50px;
		opacity: 1;
		padding: 16px 0;
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 200;
		align-items: center;
	}

	.company {
		margin-left: 22px;
		font-size: 18px;
	}

	.company::first-letter {
		text-transform: uppercase;
	}

	.navigate {
		display: none;
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;

		align-items: center;

		>.buttons {
			display: flex;

			>.button {
				font-size: 19px;
				display: flex;
				margin-right: 12px;
			}
		}
	}

	.search {
		margin-left: 5px;
		display: none;

		input {
			font-size: 14px;
			width: 20vw;
			height: 40px;
			padding-left: 10px;
			border: 2px solid #7ba7ab;
			border-radius: 5px;
			outline: none;
			background: #f9f0da;
			color: #000000;
		}

		button {
			background: #7ba7ab;
			border: none;
			border-radius: 0 5px 5px 0;
			color: #fff;
			cursor: pointer;
			font-size: 14px;
			height: 40px;
			margin-left: 5px;
			position: absolute;
			right: 0;
			width: initial;
		}
	}


	.right {
		display: flex;
		align-items: center;
		margin-right: 20px;

		.user {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: #c909c6;
			display: flex;
			justify-content: center;
			justify-items: center;
			align-items: center;
			margin-right: 20px;

			>.user-icon {
				display: flex;
			}

			>.user-letter {
				display: none;
			}

			&.auth {

				.user-icon {
					display: none;
				}

				.user-letter {
					display: flex;
				}
			}
		}

	}
}






.burger {
	position: relative;
	width: 20px;
	height: 15px;
	background: transparent;
	cursor: pointer;
	display: block;
}

.burger input {
	display: none;
}

.burger span {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: black;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
}

.burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
}

.burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
	transform: rotate(45deg);
	top: 0px;
	left: 0px;
}

.burger input:checked~span:nth-of-type(2) {
	width: 0%;
	opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
	transform: rotate(-45deg);

}